#version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      - DATABASE_URL=sqlite:////data/app.db
    volumes:
      - ./backend_data:/data
    expose:
      - "8000"

  web:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
